<table class="tx-tw-recordcollection" >
	<tr>
		<td>
			<b><f:translate key="tx_twrecordcollection_domain_model_song.song" /></b>
		</td>
		<td>
			{song.song}
		</td>
	</tr>
    <tr>
        <td>
            <b><f:translate key="tx_twrecordcollection_domain_model_song.album_name" /></b>
        </td>
        <td>
            {song.albumName.albumName}
        </td>
    </tr>
    <tr>
        <td>
            <b><f:translate key="tx_twrecordcollection_domain_model_song.interpreter" /></b>
        </td>
        <td>
            {song.interpreter.interpreter}
        </td>
    </tr>
    <tr>
        <td>
            <b><f:translate key="tx_twrecordcollection_domain_model_song.year" /></b>
        </td>
        <td>
            {song.year.year}
        </td>
    </tr>
    <tr>
        <td>
            <b><f:translate key="tx_twrecordcollection_domain_model_song.record_label" /></b>
        </td>
        <td>
            {song.recordLabel.recordLabel}
        </td>
    </tr>
    <tr>
        <td>
            <b><f:translate key="tx_twrecordcollection_domain_model_song.genre" /></b>
        </td>
        <td>
            {song.genre.genre}
        </td>
    </tr>
    <tr>
        <td>
            <b><f:translate key="tx_twrecordcollection_domain_model_song.side" /></b>
        </td>
        <td>
            {song.side.side}
        </td>
    </tr>
    <tr>
        <td>
            <b><f:translate key="tx_twrecordcollection_domain_model_song.extra" /></b>
        </td>
        <td>
            {song.extra.extra}
        </td>
    </tr>
</table>